@media (max-width: 450px) {

    .navbar {
        padding: 0 .8em;
        align-items: center;
        justify-content:space-between;
    }

    .nav-logo {
        width: 5rem;
    }

    .nav-container {
        display: none;
    }

    .nav_blur {
        height: 6rem;
    }

    .hero-section {
        width: 100vw;
        height: 90vh;
    }

    .hero-content {
        padding: 3em 1em;
        gap: 3rem;
        text-align: center;
        align-items: center;
    }

    .hero-text-1 {
        line-height: 3em;
        width: 70%;
    }

    .hero-text-1 span {
        font-size: 50px;
    }

    .hero-text-1>p {
        font-size: 30px;
    }

    .hero-text-1 .mg-space {
        margin: 0;
    }

    .text-1_p {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .explore-btn {
        margin-bottom: 5rem;
        align-self: center;
        font-size: 12px;
    }

    .hero-text-2 {
        width: 100%;
        font-size: 15px;
    }

    .hamburger-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.2rem;
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        padding: 1em 0.7em;
        background-color: rgb(0, 227, 113);
    }

    .bar {
        border: 1.5px solid white;
    }

    /* WELCOME-SECTION */

    .section {
        padding: 2rem 0;
    }

    .title {
        font-size: 2.5rem;
        width: 70%;
    }

    .wlc-container {
        flex-direction: column;
        gap: 1rem;
        padding: 2rem 1rem;
    }

    .wlc-left-container {
        top: 17%;
        width: 100%;
        height: 30vh;
        font-weight: 600;
        font-size: medium;
    }

    .wlc-right-container {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .welcome-card {
        padding: 1em;
        top: 48%;
        margin-bottom: 0;
    }

    .wlc-icon {
        width: 3rem;
        height: 3rem;
        padding: .3em;
        border: 3px solid rgb(13, 255, 133);
    }

    .welcome-content {
        padding: .5em .5em;
        gap: .8rem;
        font-weight: 500;
        font-size: .8rem;
        text-align: left;
    }

    .welcome-content p {
        line-height: 1.5;
    }

    /* DESTINATION-SECTION */

    .destination-section>.title {
        width: 90%;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
    }

    .destination-item {
        height: 10vh;

    }

    .destination-item span, .destination-item p {
        font-size: 20px;
    }

    /* PRICE-SECTION */

    .price-section>.title {
        width: 100%;
    }

    .price-container {
        flex-direction: column;
        padding: 2rem 4rem;
    }

    .price-content {
        font-size: 15px;
    }

    .card-title {
        height: 30vh;
        padding: 3em 1em;
    }

    .card-title p {
        font-size: 30px;
    }

    .ribbon {
        font-size: 15px;
    }

    .price-area {
        padding: .5em;
        margin-bottom: .5rem;
    }

    .inner-area>.price {
        font-size: 35px;
    }

    /* TESTIMONIAL-SECTION */

    .testimonial-section>.title {
        width: 80%;
    }

    .feedback-container {
        width: 80%;
    }

    .user-profile {
        top: -11%;
    }

    .user-profile>img {
        width: 5rem;
        height: 5rem;
        border: 14px solid rgb(31, 34, 35);
    }

    .quote>img {
        width: 1.5rem;
    }

    .user-feedback {
        width: 120%;
        font-size: .6rem;
        line-height: 1.8em;
    }

    .hr-line {
        width: 10rem;
    }

    .user-name {
        font-size: .7rem;
        font-weight: normal;
    }

    .ratings {
        font-size: 1.2em;
    }

    /* ACHIEVEMENTS-SECTION */

    .achievement-container {
        width: 100%;
        height: 85vh;
    }

    .overlay-left {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        width: 100%;
        padding: 2em;
        height: 85vh;
    }

    .overlay-left>.title {
        margin: 0 auto;
        font-size: 35px;
        width: 90%;
    }

    .number-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0;
    }

    .number-container>* {
        width: 100%;
    }

    .top {
        gap: 5rem;
    }

    .number-container .numbers {
        font-size: 2.5rem;
    }

    .number-container .captions {
        font-size: 1rem;
        text-align: center;
    }

    .bottom .captions {
        width: 40%;
    }

    /* FOOTER-SECTION */

    .footer-section {
        margin-top: 5rem;
    }

    .footer-container {
        flex-direction: column-reverse;
        gap: 0;
    }

    .subscribe-container {
        width: 100%;
        padding: 2em;
    }

    .sitemap-header {
        font-weight: 600;
    }

    .sitemap-header~p {
        font-weight: 400;
    }

    .email-container {
        display: flex;
        flex-direction: column;
    }

    .email-input {
        width: 100%;
    }

    .footer-hr-line {
        width: 60%;
    }

    .copyright-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .footer-logo-container {
        width: 8rem;
        height: 8rem;
    }

    .custom-shape-divider-bottom-1690638122 svg {
        height: 250px;
        width: calc(200% + 1.3px);
    }

    .copyright-claims-container {
        margin-top: 2rem;
        flex-direction: column;
        gap: 0;
    }

    .copyright-claims-bottom {
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }

    .copyright-claims-bottom p {
        font-size: 14px;
    }
}

@media(max-width: 350px) {

    .price-container {
        padding: 2rem;
    }

    .sitemap-container {
        width: 80%;
        font-size: 13px;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
    }

}