@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.navbar{
    display: flex;
    justify-content: space-evenly;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.clr-green{
    color:  rgba(13, 255, 133, 1);
}

.nav-links li, a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 1.5rem;
}

.nav-links li{
    display: inline-block;
}

.btn-1{
    margin-left: 4rem;
    padding: 1em;
    background-color: rgba(13, 255, 133, 1);
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.content-container{
    display: flex;
    flex-direction: column;
    padding: 11em 2.3em;
}


.first-text{
    margin-bottom: 2rem;
    width: 50%;
    color: rgb(255, 255, 255);
    font-family: Playfair Display;
    font-weight: 600;
}

.first-text span{
    font-size: 95px;
}

.first-text p{
    font-size: 40px;
}

.first-text p, span{
    font-family: Playfair Display;
}

.btn-2{
    border: 2px solid rgba(0, 227, 113, 1);
    background-color: rgb(0, 0, 0);
    color: rgba(13, 255, 133, 1);
    padding: 1em 2em;
    font-size: 15px;
    margin-bottom: 7rem;
}

.btn span{
    color: rgb(255, 255, 255);
}

.second-text{
    color: white;
    width: 24%;
}

.welcome-page h2{
    color: white;
    font-size: 70px;
    font-family: Playfair Display;
    width: 50%;
    text-align:center;
    margin: 0 auto;
}

.image{
    background-image: url(/img/Static\ image.png);
    background-repeat: no-repeat;
    min-height: 100vh;
}
