@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.navbar{
    display: flex;
    justify-content: space-evenly;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.clr-green{
    color:  rgba(13, 255, 133, 1);
}

.nav-links li, a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 1.5rem;
}

.nav-links li{
    display: inline-block;
}

.btn-1{
    margin: 0 2rem 0 4rem;
    padding: 1em;
    background-color: rgba(13, 255, 133, 1);
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    padding: 6em 2.3em 2.5em;
}


.hero-text-1{
    margin-bottom: 2rem;
    width: 50%;
    color: rgb(255, 255, 255);
    font-family: Playfair Display;
    font-weight: 600;
}

.hero-text-1 span{
    font-size: 95px;
    font-family: Playfair Display;
}

.hero-text-1 p{
    font-size: 40px;
    font-family: Playfair Display;
}

.hero-text-1 .mg-space{
    margin-left: 13rem;
}

.btn-2{
    border: 2px solid rgba(0, 227, 113, 1);
    background-color: rgb(0, 0, 0);
    color: rgba(13, 255, 133, 1);
    padding: 1em 2em;
    font-size: 15px;
    margin-bottom: 12rem;
    align-self: flex-start;
}

.btn span{
    color: rgb(255, 255, 255);
}

.hero-text-2{
    color: white;
    width: 24%;
}

.wlc-section{
    padding: 5em 0;
}

.wlc-content-container{
    display: flex;
    justify-content: center;
    padding: 3em 2em;
    gap: 1em;
}

.wlc-left-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.wlc-left-content{
    background-image: url(/img/Static\ image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 10em 1em;
    letter-spacing: 5px;
    position: sticky;
    top: 40px;
}

.wlc-right-container{
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width: 100%;
    gap: 1em;
}

.wlc-right-container > *{
    background: linear-gradient(rgb(54, 58, 58), rgb(27, 28, 28)) ;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    align-self: flex-start;
    position: sticky;
    padding: 3em 1em; 
    top: 40px;
}

.wlc-right-container img{
    border: 3px solid rgb(13, 255, 133);
    border-radius: 50%;
    padding: .5em;
}

.wlc-right-container p{
    padding:2em 5em;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    padding:2em;
}

.grid-container span{
    color: rgb(148, 254, 201);
    font-size: 32px;
    display: block;
}

.item-1{
    background-image: url(/img/img_1.jpeg);
    grid-column:span 2;
    background-position: bottom 20%;
}

.item-2{
    background-image: url(/img/img_2.jpeg);
    grid-row: span 2;
}

.item-3{
    background-image: url(/img/img_3.jpeg);
    grid-row: span 2;
    box-shadow: 0px 5px 10px rgba(119, 115, 115, 0.80);
}

.item-4{
    background-image: url(/img/img-4.jpeg);
    grid-column: span 1;
}

.item-5{
    background-image: url(/img/img_5.jpeg);
    grid-column: span 2;
    box-shadow: 0px 5px 10px rgba(119, 115, 115, 0.80);
}

.price-section{
    padding: 5em 0;
}

.price-section .title{
    color: white;
    font-size: 70px;
    font-family: Playfair Display;
    width: 70%;
    text-align:center;
    margin: 0 auto;
}

.price-container{
    padding-top: 3em;
    display: flex;
    justify-content: space-evenly;
}

.price-content p{
    background-repeat: no-repeat;
    height: 15em;
    text-align: center;
    font-size:30px;
    font-weight: 700;
    color: white;
    font-family: Playfair Display;
    padding:5em .5em;
}

.price-content .price-area{
    padding: 1em;
    height: 15em;
}

.price-content-1 p{
    background-image: url(/img/priceimg-1.jpeg);
}

.price-content-2 p{
    background-image: url(/img/priceimg-2.jpeg);
}

.price-content-3 p{
    background-image: url(/img/priceimg-3.jpeg);
}

.price-content-1 .price-area{
    background-color: rgba(148, 254, 201, 1);
}

.price-content-2 .price-area{
    background-color: rgba(128, 128, 128, 1)
}

.price-content-3 .price-area{
    background-color: rgba(148, 254, 201, 1);
}

.inner-area span{
    font-size: 40px;
    font-weight: 900;
    font-family: Playfair Display;
}

.testimonials-section{
    padding: 5em 0;
}

.item:hover{
   cursor: pointer;
}