@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.navbar{
    display: flex;
    justify-content: space-evenly;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.clr-green{
    color:  rgba(13, 255, 133, 1);
}

li, a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 1.5rem;
}

.nav-links li{
    display: inline-block;
}

.btn{
    margin-left: 4rem;
    padding: 1em;
    background-color: rgba(13, 255, 133, 1);
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}