@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

.navbar{
    display: flex;
    justify-content: space-evenly;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.clr-green{
    color:  rgba(13, 255, 133, 1);
}

.nav-links li, a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 1.5rem;
}

.nav-links li{
    display: inline-block;
}

.btn-1{
    margin: 0 2rem 0 4rem;
    padding: 1em;
    background-color: rgba(13, 255, 133, 1);
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 18px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    padding: 6em 2.3em 2em;
}


.hero-text-1{
    margin-bottom: 2rem;
    width: 50%;
    color: rgb(255, 255, 255);
    font-family: Playfair Display;
    font-weight: 600;
}

.hero-text-1 span{
    font-size: 95px;
}

.hero-text-1 p{
    font-size: 40px;
}

.hero-text-1 p, span{
    font-family: Playfair Display;
}

.hero-text-1 .mg-space{
    margin-left: 13rem;
}

.btn-2{
    border: 2px solid rgba(0, 227, 113, 1);
    background-color: rgb(0, 0, 0);
    color: rgba(13, 255, 133, 1);
    padding: 1em 2em;
    font-size: 15px;
    margin-bottom: 12rem;
    align-self: flex-start;
}

.btn span{
    color: rgb(255, 255, 255);
}

.hero-text-2{
    color: white;
    width: 24%;
}

.wlc-page-container{
    padding: 3em 0;
}

.wlc-page-container h2{
    color: white;
    font-size: 70px;
    font-family: Playfair Display;
    width: 50%;
    text-align:center;
    margin: 0 auto;
}

.wlc-page-container h2 > span{
    background: linear-gradient(rgb(66, 182, 129), rgb(132, 205, 95));
    border-radius: 5px;
}

.wlc-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.image{
    background-image: url(/img/Static\ image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    width: 35vw;
}

.img-title{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 10em 0;
    letter-spacing: 5px;
}

.wlc-content{
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    border-radius: 40px;
    overflow-y: scroll;
}

.wlc-content > *{
    background: linear-gradient(rgb(54, 58, 58), rgb(27, 28, 28)) ;
    text-align: center;
}

.destination-content h2{
    color: white;
    font-size: 70px;
    font-family: Playfair Display;
    width: 50%;
    text-align:center;
    margin: 0 auto;
}

.destination-content h2 > span{
    background: linear-gradient(rgb(66, 182, 129), rgb(132, 205, 95));
    border-radius: 5px;
}