@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,600;0,700;0,800;1,600;1,700;1,800&display=swap');

.navbar{
    display: flex;
    justify-content: space-evenly;
    padding: 0 1.5em;
}

.nav-logo{
    width: 7em;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav-li{
    color: white;
    font-size: 17px;
    margin: 0 3rem;
    display: inline-block;
    font-weight:600;
}

.nav-li:hover{
    color: rgba(13, 255, 133, 1);
}


.schedule-btn{
    margin: 0 2rem 0 4rem;
    padding: .8em;
    background-color: rgba(13, 255, 133, 1);
    border: none;
    color: black;
    font-weight: bolder;
    font-size: 17px;
}

.nav_blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: rgba(87, 89, 90, 0.5);
    backdrop-filter: blur(5px);
    animation: 1s ease-in-out;
    z-index: 1;
}

.hero-content{
    display: flex;
    flex-direction: column;
    padding:7em 2.3em 5.5em;
}

.hero-text-1{
    margin-bottom: 2rem;
    width: 50%;
    color: rgb(255, 255, 255);
    font-family: Playfair Display;
    font-weight: 600;
    line-height: 5em;
}

.hero-text-1 span{
    font-size: 95px;
    font-family: Playfair Display;
}

.hero-text-1 > p{
    font-size: 40px;
    font-family: Playfair Display;
}

.hero-text-1 .mg-space{
    margin-left: 14.5rem;
}

.explore-btn{
    border: 2px solid rgba(0, 227, 113, 1);
    background-color: rgb(0, 0, 0);
    color: rgba(13, 255, 133, 1);
    padding: 1em 2em;
    font-size: 15px;
    margin-bottom: 12rem;
    align-self: flex-start;
    font-weight: bold;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.explore-btn img{
    color: rgb(255, 255, 255);
    width: 1rem;
}

.hero-text-2{
    color: white;
    width: 24%;
    font-weight: 600;
}

.title > span{
    background: linear-gradient(rgb(66, 182, 129), rgb(132, 205, 95));
    border-radius: 5px;
    font-family: Playfair Display;
}

.wlc-content-container{
    display: flex;
    justify-content: center;
    padding: 3em 2em;
    gap: 1rem;
}

.wlc-left-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.wlc-left-content{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 10em 1em;
    letter-spacing: 5px;
    position: sticky;
    top: 40px;
    background-color: rgb(83, 81, 81);
    background-blend-mode: hard-light;
}

.wlc-left-content-1{
    background-image: url(/img/welcome-image-1.png);
}

.wlc-left-content-2{
    background-image: url(/img/welcome-image-2.jpg);
}

.wlc-left-content-3{
    background-image: url(/img/welcome-image-3.jpg);
}

.wlc-right-container{
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
    width: 100%;
    gap: 1rem;
}

.wlc-right-container > *{
    background: linear-gradient(rgb(54, 58, 58), rgb(27, 28, 28));
    flex-direction: column;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: sticky;
    padding: 3em 1em; 
    top: 40px;
}

.wlc-right-container img{
    border: 3px solid rgb(13, 255, 133);
    border-radius: 50%;
    padding: .5em;
    width: 5rem;
}

.wlc-right-container p{
    padding:1em 5em;
    font-weight: 600;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    padding:2em;
}

.grid-container span{
    color: rgb(148, 254, 201);
    font-size: 22px;
    display: block;
}

.grid-container p{
    font-size: 42px;
    font-weight: bold;
}

.destination-item-1{
    background-image: url(/img/img_1.jpeg);
    grid-column:span 2;
}

.destination-item-2{
    background-image: url(/img/img_2.jpeg);
    grid-row: span 2;
}

.destination-item-3{
    background-image: url(/img/img_3.jpeg);
    grid-row: span 2;
    background-position: top;
}

.destination-item-4{
    background-image: url(/img/img-4.jpeg);
    grid-column: span 1;
}

.destination-item-5{
    background-image: url(/img/img_5.jpeg);
    grid-column: span 2;
}

.price-section .title{
    width: 70%;
}

.price-container{
    padding-top: 3em;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

/* .price-content-1:hover .flip-card{
    transform: rotateY(.5turn);
} */

/* .flip-card{
    position: relative;
    transition: transform 3s;
    transform-style: preserve-3d;
    width: 100%;
    height: 40rem;
} */

/* .front{
    overflow: hidden;
} */

/* .front,
.back{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 0 15px 0 15px;
} */

.price-content-1 .card-title{
    background-image: url(/img/priceimg-1.jpeg);
}

.price-content-2{
    background: linear-gradient(to right, rgb(54, 58, 58), rgb(39, 40, 40)) ;
    border: 3px solid rgb(13, 255, 133);
    position: relative;
    overflow: hidden;
}

.price-content-2 .card-title{
    background-image: url(/img/priceimg-2.jpeg);
}

.ribbon{
    background-color: rgb(13, 255, 133);
    position: absolute;
    z-index: 1;
    top: 25px;
    right: -35px;
    padding: .4em 2em;
    transform: rotate(45deg);
    font-weight:700;
}

.price-content-3 .card-title{
    background-image: url(/img/priceimg-3.jpeg);
}

.price-content-2 .flex_li{
    color: white;
}

.price-content .text{
    color: rgb(87, 89, 90);
}

.price-content .price{
    color: rgb(87, 89, 90);
}

.price-content-2 .text{
    color: rgb(13, 255, 133);
}

.price-content-2 .price{
    color: rgb(13, 255, 133);
}

.card-title{
    height: 20em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    border-top-right-radius: 20px;
    padding:5em 1em;
    clip-path: polygon(0 0, 100% 0, 110% 100%, -10% 80%);
    background-color: rgb(83, 81, 81);
    background-blend-mode: hard-light;
}

.card-title p{
    font-size:40px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-family: Playfair Display;
}

.price-area{
    padding: 1em;
    height: 15em;
}

.flex_li {
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: 0 0 .5em;
    text-decoration: none;
    line-height: 20px;
    font-weight:bold;
}

.flex_li img{
    width: 1rem;
    margin-right: .7rem;
}

.inner-area{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.inner-area .text{
    padding: .8em .3em 0 0;
    font-weight:700;
}

.inner-area .price{
    font-size: 40px;
    font-weight: 900;
    font-family: Playfair Display;
}

/* .back{
    text-align: center;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: rgba(148, 254, 201, 1);
} */

.destination-item:hover{
    cursor: pointer;
    background-position: bottom;
}

.testimonial-section .title{
    width: 70%;
}

.feedback-container{
    flex-direction: column;
    position: relative;
    background-color: rgba(148, 254, 201, 0.2);
    width: 35%;
    margin: 5rem 0;
    padding: 4em 0 1em;
    row-gap: 2rem;
}

.feedback-container p{
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.user-feedback{
    width: 60rem;
}

.user-profile{
    position: absolute;
    top: -15%;
}

.user-profile > img{
    width: 7rem;
    border: 18px solid rgb(31, 34, 35);
    border-radius: 50%;
}

.quote > img{
    width: 2rem;
}

.hr-line{
    width: 15rem;
    margin: 1rem 0;
    border: 1px solid rgb(13, 255, 133);
}

.user-name{
    font-size: .8rem;
}

.rating-container{
    gap: .5rem;
}

.ratings{
    font-size: 1.8em;
    color: rgb(255, 255, 255);
}

.number-section{
    padding: 0 2em;
}

.achievement-container{
    background-image: url(/img/numbers-image.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.overlay-left{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
    width: 60%;
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 0% 100%);
    height: 100vh;
}

.overlay-left > .title{
    width: 60%;
    margin: 0;
}

.number-container{
    padding: 2em 5em;
}

.number-container > *{
    text-align: center;
    width: 50%;
}

.number-container .numbers{
    font-family: Playfair Display;
    font-size: 70px;
    color: rgb(13, 255, 133);
}

.number-container .captions{
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.top{
    gap: 10rem;
}

.bottom .captions{
    width: 50%;
    margin:auto;
}

.footer-section{
    margin-top: 15rem;
}

.footer-container{
    gap: 10rem;
}

.footer-container > *{
    color: white;
    font-weight:600;
}

.sitemap-container{
    gap: 4rem;
    align-items: flex-start;
}

.sitemap-container > *{
    flex-direction: column;
}

.sitemap-container li{
    margin-bottom: 1rem;
}

.subscribe-container{
    width: 25%;
}

.subscribe-container > *{
   margin-bottom: 1rem;
}

.email-container{
    gap: 1rem;
}

.email-container > *{
    font-weight: 700;
}

.email-input{
    padding: .8em 2em;
    border: none;
    width: 51%;
}

.email-input::placeholder{
    font-weight: 700;
}

.email-submit-btn{
    padding: .8em 2em;
    background-color: rgb(13, 255, 133);
    color: rgb(0, 0, 0);
    border: none;
}

.copyright-section{
    position: relative;
}

.custom-shape-divider-bottom-1690638122{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-bottom-1690638122 svg{
    position: relative;
    display: block;
    width: calc(180% + 1.3px);
    height: 300px;
}

.custom-shape-divider-bottom-1690638122 .shape-fill {
    fill: rgb(52, 118, 85);
}

.footer-hr-line{
    width: 80%;
    margin: 2rem auto;
}

.footer-logo-container{
    width: 10em;
}

.copyright-container{
    align-items: flex-end;
    gap: 2rem;
}

.social-links{
    gap: 2rem;
}

.social-icons{
    background-color: rgb(148, 254, 201);
    font-size: x-large;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.copyright{
    width: 80%;
    gap: 2rem;
    margin: auto;
}

.copyright p{
    color: white;
    font-weight: 600;
    margin: 2rem;
}

.copyright > p:nth-child(1){
    flex: 1;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.price-hidden{
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-100%);
    transition: all 2s;
}

.price-show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


::-webkit-scrollbar{
    width: 12px;
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(20, 232, 126), rgb(141, 138, 138));
    border-radius: 6px;
}