*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(rgb(20, 20, 20), rgb(23, 23, 23));   
}

.bg{
    background-image: url(/img/Hero\ image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(103, 103, 103);
    background-blend-mode: hard-light;
} 

.section{
    padding: 5em 0;
}

.title{
    color: white;
    font-size: 70px;
    font-family: Playfair Display;
    width: 50%;
    text-align:center;
    margin: 0 auto;
}

.title > span{
    background: linear-gradient(rgb(66, 182, 129), rgb(132, 205, 95));
    border-radius: 5px;
    font-family: Playfair Display;
}

.item{
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    text-align: center;
    color: white;
    font-size: 25px;
    transition: all 800ms;
    background-color: rgb(83, 81, 81);
    background-blend-mode: hard-light;
}